ion-fab-button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  --background: #5b9b5b;
  color: #5b9b5b;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em;
}

.custom-fab-button ion-icon {
  font-size: 14px;
}
