<ion-header>
  <ion-toolbar>
    <div class="logo">
      <ion-img src="../../../../assets/logo/logo.png"></ion-img>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-segment [(ngModel)]="currentSegment">
    <ion-segment-button value="login" [routerLink]="['/login']" routerLinkActive="ion-activated">
      <ion-label>Login</ion-label>
    </ion-segment-button>
    <ion-segment-button value="register" [routerLink]="['/register']" routerLinkActive="ion-activated">
      <ion-label>Register</ion-label>
    </ion-segment-button>
  </ion-segment>

  <form (ngSubmit)="register()" [formGroup]="credentials">
    <ion-item fill="solid" class="ion-margin-bottom">
      <ion-input type="text" placeholder="Display Name" formControlName="displayName"></ion-input>
      <ion-note slot="error" *ngIf="(displayName.dirty) && displayName.errors">Display name is required</ion-note>
    </ion-item>
    <ion-item fill="solid" class="ion-margin-bottom">
      <ion-input type="email" placeholder="Email" formControlName="email"></ion-input>
      <ion-note slot="error" *ngIf="(email.dirty) && email.errors">Email is invalid</ion-note>
    </ion-item>
    <ion-item fill="solid" class="ion-margin-bottom">
      <ion-input type="password" placeholder="Password" formControlName="password"></ion-input>
      <ion-note slot="error" *ngIf="(password.dirty) && password.errors">Password needs to be 6 characters</ion-note>
    </ion-item>
    <ion-item fill="solid" class="ion-margin-bottom">
      <ion-input type="date" placeholder="Birth Date" formControlName="birthDate"></ion-input>
      <ion-note slot="error" *ngIf="(birthDate.dirty) && birthDate.errors">Birth date is required</ion-note>
    </ion-item>
    <ion-item fill="solid" class="ion-margin-bottom">
      <ion-input type="text" placeholder="City" formControlName="city"></ion-input>

    </ion-item>

    <ion-button type="submit" expand="block" [disabled]="!credentials.valid">Create account</ion-button>
  </form>
</ion-content>
