<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      My Garden
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">My Garden</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list>

    <!-- ADD NEW ROSE -->
    <ion-item>
      <ion-button id="present-alert" (click)="initializeAlertInput()">Add New Rose</ion-button>
      <ion-alert trigger="present-alert" header="Info about New Rose" [buttons]="alertButtons" [inputs]="alertInputs"></ion-alert>
    </ion-item>

    <!-- SHOW MY GARDEN LOCALSTORAGE-->
    @for (rose of myGarden; track rose) {
      <ion-item>
        <ion-row>
          <ion-col>
            Name: {{rose.name}}
          </ion-col>
          <ion-col>
            Fragrance: {{rose.intensityFragrance}}
          </ion-col>
          <ion-col>
            Info: {{rose.moreInfo}}
          </ion-col>
        </ion-row>
      </ion-item>
    }

    <!-- SHOW MY GARDEN FIRESTORE -->
    <ion-list>
    @for (rose of myGarden; track $index) {
      <ion-card>
        <ion-card-header>
          <ion-card-title>Card Title</ion-card-title>
          <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          Here's a small text description for the card content. Nothing more, nothing less.
        </ion-card-content>

        <ion-button fill="clear">Action 1</ion-button>
        <ion-button fill="clear">Action 2</ion-button>
      </ion-card>
    }
    </ion-list>

  </ion-list>
</ion-content>
