/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import '@ionic/angular/css/palettes/dark.system.css';

.custom-marker img {
  width: 50px; /* Adjust the size as needed */
  height: 50px;

}

.info-window {
  h2 {
    font-size: 16px;
    margin: 0;
    padding: 0;
    color: #333;
  }

  p {
    font-size: 14px;
    margin: 4px 0;
    color: #555;
  }

  button {
    background-color: #007f00; /* Green background */
    color: white; /* White text */
    padding: 10px 20px; /* Some padding */
    border: none; /* Remove borders */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Pointer/hand icon on hover */
    font-size: 14px; /* Increase font size */
  }

  button:hover {
    background-color: #45a049; /* Darker green on hover */
  }
}


.large-toast {
  --width: 90%;
  --min-height: 80px; /* Increased height */
  --border-radius: 8px;
  --font-size: 1.2em;
  --background: #28a745;
  --color: white;
  text-align: center;
  padding: 20px; /* Increased padding */
  bottom: 60px; /* Adjust to leave space for tabs */
}


.info-window {
  text-align: center;

  .profile-image {
    width: 70px;  /* Adjust the size as needed */
    height: 70px; /* Ensure the height is the same to keep it square */
    border-radius: 50%;  /* Makes the image round */
    object-fit: cover;  /* Ensures the image covers the box while maintaining aspect ratio */

  }
}
