<app-header [title]="title"></app-header>

<ion-content id="content">
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="tab1" href="/tabs/tab1" (click)="selectTab('my-garden')" [class.selected]="selectedTab === 'my-garden'">
        <ion-icon aria-hidden="true" [name]="selectedTab === 'my-garden' ? 'my-garden-green' : returnIconMyGarden()"></ion-icon>
        <ion-label>My garden</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="tab2" href="/tabs/tab2" (click)="selectTab('other-gardens')" [class.selected]="selectedTab === 'other-gardens'">
        <ion-icon aria-hidden="true" [name]="selectedTab === 'other-gardens' ? 'other-gardens-green' : returnIconOtherGardens()"></ion-icon>
        <ion-label>Other gardens</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="tab3" href="/tabs/tab3" (click)="selectTab('about-me')" [class.selected]="selectedTab === 'about-me'">
        <ion-icon aria-hidden="true" name="heart-circle-outline"></ion-icon>
        <ion-label>About me</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
